Makefile.in
Makefile
.deps
*.o

callmergertwicetest
mixeddimcouplingtest
mixeddimoverlappingtest
multivectortest
nonoverlappingcouplingtest
nonoverlappingcouplingtest_mpi
orientedsubfacetest
overlappingcouplingtest
